@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Cousine:400,700|Karla:400,700');

$karla : "Karla", sans-serif;
$cousine : "Cousine", monospace;

// Colors.
$darkblue: #4D71BA;
$cyan : #3DAEAA;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
    display:flex;

    &-4 {
        flex:4;
    }

    &-3 {
      flex:3;
    }

    &-7 {
      flex:7;
    }

    &-6 {
        flex:6;
    }
}
