@import '../../../styles/core.scss';

.preview {
    width: 100%;
    overflow:hidden;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: white;
    margin-bottom: 30px;
    min-height: 200px;

    &__infos {
        position:absolute;
        right:15px;
        top:15px;
        text-align:right;
        font-size: 0.85em;
    }

    &__author {
        font-family: $cousine;
        font-weight: bolder;
    }

    &__date {
        font-family: $cousine;
        font-size: 0.7em;
    }

    &__left {
        flex:2;
    }

    &__background {
        background-size: cover;
        background-position: center;
        width: 100%;
        height:100%;
    }

    &__right {
        flex:8;
        position:relative;
    }

    &__title {
        font-family: $cousine;
        font-size: 1.25em;
        color:$darkblue;
    }

    &__content {
        padding:15px;
        height:100%;
    }

    &__tags {
        display:block;
        margin:10px 0;
    }

    &__tag {
        font-family: $cousine;
        display:inline-block;
        margin-right: 10px;
        padding:4px 5px 2px;
        border-radius:4px;
        border:1px solid $cyan;
        color:$cyan;
        transition:0.3s;

        &:hover {
            background:$cyan;
            color:white;
        }
    }

    &__description {
        font-family: $karla;
        font-size: 1.125em;
    }

    &__actions {
        display:block;
        vertical-align: bottom;
        bottom: 15px;
        position: absolute;

    }

    &__action {
        display:inline-block;
        margin-right: 15px;
    }

    @include mobile {
        display: block;

        &__infos {
            display:none;
        }

        &__left {
            min-height:200px;
            display: block;
            position:relative;
        }

        &__background {
            position:absolute;
        }

        &__right {
            display:block;
        }

        &__actions {
            display:flex;
            position:static;
            margin-right: 0;
            margin-top: 15px;
        }

        &__action {
            flex:1;
            margin-right: 0;

            &:first-child {
                flex:2;
            }

            &:last-child {
                flex:2;
                margin-right: 0;
            }
        }
    }
}

