@import '../../styles/core.scss';

.searchbar{

	margin-bottom: 80px;
	font-family: $cousine;
	position:relative;
	margin-top: 12px;

	&__text{
		font-size: 0.7em;
		color: #494949;
		margin-left: 52px;
	}

	&__input{
		display: flex;
		align-content: center;
		align-items: center;

		// C'est la border bottom
		&:after{
			content: "";
			display: block;
			background: #000;
			width: 100%;
			height: 4px;
			margin-top: 48px;
			position: absolute;
			left: 0px;
		}

		&__iconsearch{
			width: 50px;
			height: 50px;
			background: url(./assets/searchBlack.svg) no-repeat center/60%;
		}

		input::-moz-placeholder {
			font-family: $cousine;
			color: #000 !important;
			opacity: 0.4;
		}
		::-webkit-input-placeholder{
			font-family: $cousine;
			color: #000 !important;
			opacity: 0.4;
		}
		:-ms-input-placeholder{
			font-family: $cousine;
			color: #000 !important;
			opacity: 0.4;
		}
		::placeholder{
			font-family: $cousine;
			color: #000 !important;
			opacity: 0.4;
		}

		&__obj{
			width: 100%;
			border: none;
			outline: none;
			font-size: 2.5em;
			color: #000;
			background: transparent;
		}
	}

	@include mobile {
		margin-bottom: 50px;
		margin-top:30px;

		&__text {
			margin-left:0;
		}

		&__input {
			&__obj {
				font-size: 1.5em;
			}

			&__iconsearch {
				width: 30px;
				height:30px;
			}

			&:after {
				margin-top:26px;
			}
		}
	}
}
