@import '../styles/core.scss';

.tagSingle{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;

	&__title{
		font-family: $cousine;
		font-size: 3.5em;
		margin: 0;
	}

	&__description{
		font-family: $karla;
		font-size: 1.1em;
		margin: 0;
	}

	@include mobile {
		padding: 15px;
		padding-top: 30px;

		&__title {
			font-size: 2em;
			margin-bottom:20px;
			margin-top:20px;
		}

		&__description {
			margin-bottom:40px;
		}
	}
}

.vicos .preview:after {
	content: "Aidez-moi !";
	width: 100px;
	height: 30px;
	display: -ms-flexbox;
	display: flex;
	background: red;
	position: relative;
	bottom: 0;
	right: 112px;
	text-align: center;
	background: #3d9bae;
	font-family: Cousine,monospace;
	font-weight: 700;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}

.vicos {
	&__title {
		font-family: $karla;
            font-size: 3.4em;
            font-weight: 700;
            color: #000;
	}

	&__subtitle {
		margin-bottom: 55px;
		font-family: $cousine;
	}
}
