@import '../../styles/core.scss';

.listpost {
	width: 100%;
    &__title {
        font-family: $karla;
        font-size: 2em;
        margin-bottom:40px;

        @include mobile {
            margin-bottom:20px;
            font-size: 1.5em;
        }
    }
}

.loader {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;

    &__data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .imgLoader{
            width:200px;
            height: 200px;
            //background: url("./loader.gif") no-repeat center/100%;
        }
        p{
            font-family: $karla;
            font-size: 2.5em;
            font-weight: bold;
        }
    }
}
