@import '../../styles/core.scss';

.listpost {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &__title {
        font-family: $karla;
        font-size: 2em;
        margin-bottom:40px;
    }
}
