@import '../../../../styles/core.scss';

.answer{

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    padding: 20px;
    margin-bottom: 25px;
    margin-left: 110px;

    &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        &__userPic{
            width: 95px;
            height: 95px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }

        &__salt{
            font-family: $cousine;
            font-size: 2em;
            font-weight: 700;
        }

    }

    &__right{
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-items: left;
        align-content: center;
        font-family: $cousine;

        &__username{
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
        }
        &__date{
            font-size: 1.0em;
            font-weight: 400;
            color: #aeaeae;
            margin: 0;
        }
        &__message{
            font-family: $karla;
            font-weight: 400;
        }
    }

}
