@import '../styles/core.scss';

.tagsLine{

	&__list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: space-between;

        @include mobile {
            align-items:baseline;
            .tag {
                display: block;
                flex: 1;
                flex-basis:40%;
            }
        }
	}
}
