# Header set Access-Control-Allow-Origin "*"

# on empêche la visualisation de l'arboresence, n'a rien à voir avec le masquage du index.php
Options +Indexes

# active le module de réécriture d'URL
RewriteEngine On
RewriteRule !\.(js|ico|gif|jpg|JPG|png|css)$ index.php

# fixe les règles d'écriture. Ici, nous utilisons une liste blanche


# Toutes les URL qui ne correspondent pas à ces masques sont réécrites
# Rewritecond $1 !^(index\.php|assets/|images/|robot\.txt)

# Toutes les autres URL vont être dirigées vers le fichier index.php
# RewriteRule ^(.*)$  index.php/$1 [L]
